<div class="container my-5 p-3 bg-white">
    <div class="row align-items-start">
        <div class="col-lg-8 order-lg-1">
            <h2 class="display-6 fw-normal">This First Heading <span class="text-muted">Will Catch Your Eye</span></h2>
            <p class="lead mt-3">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
        <div class="col-lg-4 order-lg-2 text-center pe-5">
            <img class="img-fluid rounded-circle" 
                 src="https://img.asmedia.epimg.net/resizer/v2/47CSAGX3JNGLBCXJUUMYXFPB7Y.jpg?auth=d974a8b9df6778f3f412dc2d85cba860aee0d9cdf353c1e8125be86de79de103&width=1200&height=1200&smart=true" 
                 alt="Walter White">
        </div>
    </div>
    <hr class="mt-5 mb-0">
</div>